# Groq free-tier API key (https://console.groq.com/keys)
GROQ_API_KEY=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

# Duffel Developer Test Mode sandbox (https://app.duffel.com/) - Shashank's Flight API
DUFFEL_ACCESS_TOKEN=duffel_test_s8Ml60mXh1cOtsv4rPi2JLQY51IARN6Y9u7FmU6jzTi

CREWAI_TRACING_ENABLED=true